# fly.toml app for tracker
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "$FLY_APP"
primary_region = "$REGION"

[build]
  image = "owlcms/publicresults:$VERSION"

[http_service]
  internal_port = 8096
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[services.concurrency]
  type = "requests"
  hard_limit = 50
  soft_limit = 40

[http_service.concurrency]
  type = "requests"
  hard_limit = 50
  soft_limit = 40

[[services.ports]]
  handlers = ["http"]
  port = 80
  force_https = true  # optional

[[services.ports]]
  handlers = ["tls", "http"]
  port = 443

[[vm]]
  cpu_kind = "shared"
  cpus = 2
  memory_mb = 1024