/*
   CSS styling examples for the Vaadin app.

   Visit https://vaadin.com/docs/styling/application-theme/ for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

/* Example: the style is applied only to the textfields which have the `bordered` class name. */
vaadin-text-field.bordered::part(input-field) {
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
  background-color: var(--lumo-base-color);
}

vaadin-login-overlay-wrapper::part(card) {
  max-width: none;
  width: 600px;
}

@media screen and (min-width: 1600px) {
  div.page {
    display: grid;
    grid-template-columns: 1fr, 1050px;
  }
  
  div.info {
    grid-column: 1/1;
    width: 90%;
    margin-top: 1em;
  }
  
  div.map {
    float:inline-start;
    grid-column: 2/2;
    grid-row: 1/span 5;
  }
}

@media screen and (max-width: 1500px) {
  div.page {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  div.info {
    grid-column: 1/1;
    width: 75%;
    margin-top: 1em;
  }
  
  div.map {
    grid-column: 1/1;
    width: 100%;
  }
}



